/* Add style sheet here when ready. */
body{
    background-color:floralwhite;
}
h1{
    color: black;
    font-family: Helvetica;
    text-align: center;
    font-size:300%;
}
a:link{
    text-decoration: none;
    color: #000000;
}
a:visited{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
