ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    width: 60px;
}
li {
    float: center;
}

#nav {
  height:30px;
}

#navbar {
  padding: 5px;
  background: #999;
}

#header {
  background-color: #666;
  color: #FFF;
}
br.clearLeft{
  clear: left;
}